/* From Uiverse.io by SalladShooter */ 

 
  .title_project{
    font-size: 2rem /* 32px */;
    color: #F5EFE7;
    font-weight: 700;
    text-align: center;
  }
  .article_projects_container{
    height: max-content;
  }